/**
 * @name Customthing
 * @author Tropical#8908, Hammock#3110, Annabxlla
 * @version 1.0.0
 * @description A theme
 * @source https://github.com/DiscordStyles/DarkMatter/
*/

@import url('https://DiscordStyles.github.io/DarkMatter/src/base.css');

/* Variables */
:root {
    --avatar-size: 32px;
    --background-image: url('https://raw.githubusercontent.com/Annabxlla/bbd-themes/master/0761ac40246eb8d075087f0445250a394c9d2856.webp');
    --home-image: url('https://i.imgur.com/233d55Y.gif');
    --accent: 37, 172, 232;
    --accent-alt: 29, 101, 134;
}
